body{
    background-color: beige;
}

#header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    position: sticky;
    top: 0;
    border-bottom: 4px solid darkolivegreen;
    z-index: 1;
}

#header h1{
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
}

#earthquake-interval{
    font-weight: 100;
    font-size: 1em;
}

#interval-links{
    display: flex;
    gap: 0.5vw;
    cursor: pointer;
}

#content-container{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    text-align: right;
    border-top: 4px solid darkolivegreen;
    font-family:'Courier New', Courier, monospace;
}

div.card{
    width: 50%;
    box-sizing: border-box;
}

.timespan{
    border: 2px solid darkolivegreen;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
    background-color: beige;
    color: black;
}

.active{
    background-color: darkolivegreen;
    color: beige;
}

.map{
    height: 200px;
}

@media (min-width: 1100px){
    div.card{
        width: 33%;
    }
}